@font-face {
  font-family: khorla;
  src: url(../font/Khorla.ttf);
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: khorla;
  margin: 0;
  padding: 0;
  background-color: #fff4f4;
  font-size: 16px;
  line-height: 1.5;
}

select {
  font-family: khorla;
}

button {
  font-family: khorla;
}

h1 {
  font-size: 2.7rem;
  line-height: 1.2;
  color: #3a3a3a;
}

h2 {
  font-size: 2rem;
  line-height: 1.3;
  color: #3a3a3a;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.4;
  color: #3a3a3a;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #3a3a3a;
}

p {
  font-size: 16px;
  color: #3a3a3a;
  text-align: justify;
}

a {
  text-decoration: none;
}

small {
  font-size: 0.8rem;
  color: #3a3a3a;
}

.margins {
  margin: 0 7%;
}

.unBold {
  text-decoration: none;
  font-weight: 50;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.invisible {
  display: none;
}

.popupSection {
  transition: ease-in 0.5s;
  opacity: 0;
  transform: translateY(150px);
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
  .margins {
    margin: 0 12%;
  }
}
header {
  z-index: infinite;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

header * {
  font-family: khorla;
  margin: 0;
  padding: 0;
}

.menu__wrapper {
  padding: 0 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  gap: 1.5rem;
  background: #f1c376;
  height: 64px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

.menu__bar {
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #3a3a3a;
  font-size: 18px;
  margin-right: 20px;
}
.logo:hover {
  color: #5a5a5a;
}
.logo svg {
  fill: #679e73;
}

.navigation {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 1rem;
  background: #f1c376;
}
.navigation > li {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  min-height: 2.25rem;
}
.navigation > li > a {
  color: #3a3a3a;
  font-size: 14px;
  text-decoration: none;
}
.navigation > li > a:hover {
  color: #5a5a5a;
}
.navigation > li > button {
  color: #3a3a3a;
  transition: all 0.3s ease;
  text-decoration: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  margin-right: -0.25rem;
  align-items: center;
  min-height: 2.25rem;
  font-size: 14px;
  gap: 0.25rem;
  font-family: khorla;
  flex-wrap: nowrap;
  border-radius: 10rem;
  padding: 0.25rem 0.6125rem;
  white-space: nowrap;
  background: none;
  display: flex;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.navigation > li > button > svg {
  margin-top: 2px;
  fill: #3a3a3a;
  transition: all 0.2s ease-in-out;
}
.navigation > li:hover > button {
  color: #5a5a5a;
  background: #fde5b6;
}
.navigation > li:hover .dropdown, .navigation > li:focus-within .dropdown {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.99) translateY(-0.7em);
    transform-origin: top;
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
.dropdown__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 3.75rem;
}

.dropdown {
  border-radius: 0.5rem;
  background: #f1c376;
  display: none;
  padding: 0.5rem;
  width: 100%;
  max-width: 36rem;
  box-shadow: 0 50px 100px -20px rgba(0, 0, 0, 0.12), 0 30px 60px -30px rgba(0, 0, 0, 0.15);
  z-index: 2;
  animation: fadeIn 0.2s ease-in-out;
}

.list-items-with-description {
  list-style-type: none;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}
.list-items-with-description > li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
  gap: 1rem;
  width: 100%;
  transition: all 0.2s ease-in-out;
  border-radius: 0.375rem;
}
.list-items-with-description > li:hover {
  background: #fde5b6;
  color: #5a5a5a;
}
.list-items-with-description > li > svg {
  stroke: #5a5a5a;
  stroke-width: 1px;
  width: 1.5rem;
  height: 1.5rem;
}

.item-title h3 {
  font-weight: 500;
  font-size: 0.875rem;
  color: #3a3a3a;
}
.item-title p {
  font-size: 0.7rem;
  white-space: nowrap;
  color: #5a5a5a;
}

.action-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: nowrap;
}
.action-buttons > a {
  text-decoration: none;
  font-size: 0.875rem;
  white-space: nowrap;
  padding: 0.25rem 0.5rem;
  transition: all 0.2s ease-in-out;
  line-height: 1.25rem;
}

.secondary {
  background: none;
  color: #3a3a3a;
  outline: none;
  border: 1px solid #fff4f4;
  border-radius: 0.375rem;
}
.secondary:hover {
  background-color: #fff4f4;
}

.primary {
  color: #fff4f4;
  border-radius: 0.375rem;
  background: #679e73;
  padding: 0.5rem 1rem;
}
.primary:hover {
  background: #66be79;
}

.right-side {
  display: flex;
}
.right-side .language-change {
  color: #3a3a3a;
  margin-right: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.right-side .language-change button {
  all: unset;
  cursor: pointer;
}

.burger-menu {
  display: none;
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.navigation > li:hover > button svg {
  fill: #5a5a5a;
  rotate: 180deg;
}

@media (max-width: 760px) {
  .burger-menu {
    z-index: 5;
    position: fixed;
    top: 10px;
    right: 10px;
    color: #3a3a3a;
    display: block;
  }
  header {
    transform: translateX(100%);
    transition: ease-in 0.2s;
  }
  .menu__wrapper-green {
    transform: translateX(100%);
    transition: ease-in 0.2s;
  }
  .menu__wrapper-yellow {
    transform: translateX(100%);
    transition: ease-in 0.2s;
  }
  .menu__wrapper-yellow {
    background-color: #f1c376;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 86vw;
  }
  .menu__wrapper-green {
    background-color: #679e73;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 89vw;
  }
  .menu__wrapper {
    background-color: #fde5b6;
    padding-top: 30px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 83vw;
    margin-left: 27vw;
    flex-direction: column;
  }
  .navigation {
    background-color: #fde5b6;
  }
  .menu__bar {
    padding-top: 40px;
    height: 100%;
    width: 84%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .logo {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .navigation {
    flex-direction: column;
  }
  .right-side {
    margin-bottom: 20px;
  }
  .dropdown__wrapper {
    left: 50%;
    transform: translateX(-50%);
  }
  .list-items-with-description {
    display: block;
  }
}
footer {
  margin-top: 150px;
  padding: 0 10%;
  padding-top: 68px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #f1c376;
}
footer .footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footerHeadline {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
footer .socialMediaHeadline {
  font-size: 22px;
}
footer .socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
footer .socialLinks a {
  color: #3a3a3a;
}

@media only screen and (max-width: 480px) {
  footer {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
#orderMade {
  margin-top: 200px;
  height: 80vh;
}
#orderMade a {
  color: #679e73;
  font-size: 22px;
}/*# sourceMappingURL=orderMade.css.map */