// FONTS
@font-face {
  font-family: archivo-black;
  src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf);
}

@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: merriweather;
  src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
}

* {
  box-sizing: border-box;
}

// HTML ELEMENTS
html {
  scroll-behavior: smooth;
}

body {
  font-family: roboto;
  margin: 0;
  padding: 0;
  background-color: $backgroundColor;
  font-size: $textSize;
  line-height: 1.5;
}

select {
  font-family: roboto;
}

button {
  font-family: roboto;
}

h1 {
  font-family: archivo-black;
  font-size: $headlineSize;
  line-height: 1.2;
  color: $textPrimary;
}

h2 {
  font-family: archivo-black;
  font-size: $subtitleSize;
  line-height: 1.3;
  color: $textPrimary;
}

h3 {
  font-family: archivo-black;
  font-size: $h3text;
  line-height: 1.4;
  color: $textPrimary;
}

h4 {
  font-family: archivo-black;
  font-size: $h4text;
  line-height: 1.5;
  color: $textPrimary;
}

p {
  font-family: roboto;
  font-size: $textSize;
  color: $textPrimary;
  text-align: start;
}

a {
  font-family: roboto;
  text-decoration: none;
}

small {
  font-family: merriweather;
  font-size: 0.8rem;
  color: $textPrimary;
}

//* CLASSES
.margins {
  margin: 0 7%;
}

.unBold {
  text-decoration: none;
  font-weight: 50;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.invisible {
  display: none;
}

.popupSection {
  transition: ease-in 0.5s;
  opacity: 0;
  transform: translateY(150px);
}

// mobile and smartphone css
@media only screen and (max-width: 480px) {
  body {
    font-size: $mobileSize;
  }

  p {
    font-size: $mobileSize;
  }

  .margins {
    margin: 0 12%;
  }
}
