header {
  z-index: infinite;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

header * {
  font-family: khorla;
  margin: 0;
  padding: 0;
}

.menu__wrapper {
  padding: 0 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 100vw;
  z-index: 2;
  gap: 1.5rem;
  background: $primaryColor;
  height: 64px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

.menu__bar {
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: $textPrimary;
  font-size: 18px;
  margin-right: 20px;
  &:hover {
    color: $textPrimary_lighter;
  }

  svg {
    fill: $secondaryColor;
  }
}

.navigation {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 1rem;
  background: $primaryColor;

  > li {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    min-height: 2.25rem;

    > a {
      color: $textPrimary;
      font-size: 14px;
      text-decoration: none;

      &:hover {
        color: $textPrimary_lighter;
      }
    }

    > button {
      color: $textPrimary;
      transition: all 0.3s ease;
      text-decoration: none;
      border: none;
      cursor: pointer;
      z-index: 1;
      margin-right: -0.25rem;
      align-items: center;
      min-height: 2.25rem;
      font-size: 14px;
      gap: 0.25rem;
      font-family: khorla;
      flex-wrap: nowrap;
      border-radius: 10rem;
      padding: 0.25rem 0.6125rem;
      white-space: nowrap;
      background: none;
      display: flex;
      position: relative;
      transition: all 0.2s ease-in-out;

      > svg {
        margin-top: 2px;
        fill: $textPrimary;
        transition: all 0.2s ease-in-out;
      }
    }

    &:hover > button {
      color: $textPrimary_lighter;
      background: $primaryColor_lighter;
    }

    &:hover .dropdown,
    &:focus-within .dropdown {
      display: block;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.99) translateY(-0.7em);
    transform-origin: top;
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.dropdown__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 3.75rem;
}

.dropdown {
  border-radius: 0.5rem;
  background: $primaryColor;
  display: none;
  padding: 0.5rem;
  width: 100%;
  max-width: 36rem;
  box-shadow: 0 50px 100px -20px rgba(0, 0, 0, 0.12),
    0 30px 60px -30px rgba(0, 0, 0, 0.15);
  z-index: 2;
  animation: fadeIn 0.2s ease-in-out;
}

.list-items-with-description {
  list-style-type: none;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;

  > li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    text-align: center;
    gap: 1rem;
    width: 100%;
    transition: all 0.2s ease-in-out;
    border-radius: 0.375rem;

    &:hover {
      background: $primaryColor_lighter;
      color: $textPrimary_lighter;
    }

    > svg {
      stroke: $textPrimary_lighter;
      stroke-width: 1px;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.item-title {
  h3 {
    font-weight: 500;
    font-size: 0.875rem;
    color: $textPrimary;
  }

  p {
    font-size: 0.7rem;
    white-space: nowrap;
    color: $textPrimary_lighter;
  }
}

.action-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: nowrap;

  > a {
    text-decoration: none;
    font-size: 0.875rem;
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    transition: all 0.2s ease-in-out;
    line-height: 1.25rem;
  }
}

.secondary {
  background: none;
  color: $textPrimary;
  outline: none;
  border: 1px solid $backgroundColor;
  border-radius: 0.375rem;

  &:hover {
    background-color: $backgroundColor;
  }
}

.primary {
  color: $backgroundColor;
  border-radius: 0.375rem;
  background: $secondaryColor;
  padding: 0.5rem 1rem;

  &:hover {
    background: $secondaryColor_lighter;
  }
}

.right-side {
  display: flex;
  .language-change {
    color: $textPrimary;
    margin-right: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
    button {
      all: unset;
      cursor: pointer;
    }
  }
}

.burger-menu {
  display: none;
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}
// rotate svg on hover
.navigation > li:hover > button svg {
  fill: $textPrimary_lighter;
  rotate: 180deg;
}

@media (max-width: 760px) {
  .burger-menu {
    z-index: 5;
    position: fixed;
    top: 10px;
    right: 10px;
    color: $textPrimary;
    display: block;
  }

  header {
    transform: translateX(100%);
    transition: ease-in 0.2s;
  }

  .menu__wrapper-green {
    transform: translateX(100%);
    transition: ease-in 0.2s;
  }

  .menu__wrapper-yellow {
    transform: translateX(100%);
    transition: ease-in 0.2s;
  }

  // side ribbons
  .menu__wrapper-yellow {
    background-color: $primaryColor;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 86vw;
  }

  .menu__wrapper-green {
    background-color: $secondaryColor;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 89vw;
  }

  .menu__wrapper {
    // ? moze se promeniti
    background-color: $primaryColor_lighter;
    // background-color: $backgroundColor;
    padding-top: 30px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 83vw;
    margin-left: 27vw;
    flex-direction: column;
  }

  .navigation {
    background-color: $primaryColor_lighter;
    // background-color: $backgroundColor;
  }

  .menu__bar {
    padding-top: 40px;
    height: 100%;
    width: 84%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    // rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  .logo {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .navigation {
    flex-direction: column;
  }

  .right-side {
    margin-bottom: 20px;
  }

  // dropdown
  .dropdown__wrapper {
    left: 50%;
    transform: translateX(-50%);
  }

  .list-items-with-description {
    display: block;
  }
}
