//font
$textSize: 16px;
$headlineSize: 2.7rem;
$subtitleSize: 2rem;
$h3text: 1.5rem;
$h4text: 1.2rem;
$blogSubtitleSize: 30px;

$mobileSize: 14px;

//spacing
$headlineTop: 200px;
$headlineBottom: 180px;

//colors

//STANDARDNA
$backgroundColor: #fff4f4;
$backgroundColorRgb: 255, 244, 244;
$primaryColor: #f1c376;
$primaryColor_darker: #f0b145;
$primaryColor_lighter: #fde5b6;
$primaryColorRgb: 241, 195, 118;
$secondaryColor: #679e73;
$secondaryColor_lighter: #66be79;
$secondaryColorRgb: 103, 158, 115;
$textPrimary: #3a3a3a;
$textPrimary_lighter: #5a5a5a;
$primaryColor_lighter-opacitiyDown: #f4cf91;

//POKUSAJ U PLAVU SA BELOM POZADINOM
// $backgroundColor: #f6f4eb;
// $backgroundColorRgb: 255, 244, 244;
// $primaryColor: #91c8e4;
// $primaryColor_darker: #4682a9;
// $primaryColor_lighter: #749bc2;
// $primaryColorRgb: 241, 195, 118;
// $secondaryColor: #e4ad91;
// $secondaryColorRgb: 103, 158, 115;
// $textPrimary: #3a3a3a;
// $primaryColor_lighter-opacitiyDown: #f4cf91;

//TEST CRVENA
// $backgroundColor: #fff5e0;
// $backgroundColorRgb: 255, 245, 224;
// $primaryColor: #c70039;
// $primaryColor_darker: #8f0028;
// $primaryColor_lighter: #ff6969;
// $primaryColorRgb: 199, 0, 57;
// $secondaryColor: #141e46;
// $secondaryColorRgb: 20, 30, 70;
// $textPrimary: #202020;
// $primaryColor_lighter-opacitiyDown: #f78d8d;

//TEST 2.
// $backgroundColor: #ebe4d1;
// $backgroundColorRgb: 235, 228, 209;
// $primaryColor: #26577c;
// $primaryColor_darker: #f0b145;
// $primaryColor_lighter: #b4b4b3;
// $primaryColorRgb: 241, 195, 118;
// $secondaryColor: #e55604;
// $secondaryColorRgb: 103, 158, 115;
// $textPrimary: #3a3a3a;
// $primaryColor_lighter-opacitiyDown: #f4cf91;
