@import "partials/variables";
@import "partials/general";
@import "partials/navbar";
@import "partials/footer";

h1 {
  text-align: center;
  margin-top: $headlineTop;
  margin-bottom: $headlineBottom;
}

h2 {
  margin-top: 80px;
  margin-bottom: 120px;
  text-align: center;
}

.persons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  .person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    p {
      text-align: center;
    }
    img {
      width: 180px;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 1px solid black;
    }
    .personName {
      font-size: 18px;
    }
    .personRole {
      width: 300px;
      margin-bottom: 60px;
    }
    .teamPageLink{
      background-color: $primaryColor;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      border-radius: 15px;
      width: fit-content;
      i{
          color: $textPrimary;
      }
      a{
          padding: 0px 12px;
          color: $textPrimary;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;
      }
  }
  }
}

@import "responsive/aboutusResponsive";
