@import "partials/variables";
@import "partials/general";

.productsContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .product {
    box-sizing: border-box;
    padding: 20px;
    // border: 1px solid $secondaryColor;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    .productName {
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

@import "responsive/productResponsive";
