@import "partials/variables";
@import "partials/general";
@import "partials/navbar1";
@import "partials/footer";

#wip {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workInProgress {
  font-size: 60px;
  text-align: center;
}

@import "responsive/virtual-tourResponsive";
